body {
  background: #e3f6f5;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.App {
  margin: 70px auto;
  max-width: 980px;
}

.App-header {
  margin: 0 0 25px 25px;
}

.App h1,
h2,
h3,
h4,
p {
  color: #272343;
}

.App h1 {
  font-size: 60px;
  font-family: "Goudy Bookletter 1911", serif;
}

.App h2 {
  font-size: 36px;
  font-family: "Kalam", cursive;
}

.App h3 {
  font-size: 34px;
  font-family: "Arvo", serif;
}

.App h4 {
  font-size: 28px;
  font-family: "Merriweather", serif;
}

.App p {
  font-size: 22px;
}
