.Phonetic .icon {
  font-size: 13px;
  border: 1.5px solid #272343;
  color: white;
  background: #272343;
  border-radius: 100%;
  padding: 10px 11px 10px 13px;
  transition: all ease-in-out 100ms;
  margin-right: 50px;
}

.Phonetic .icon:hover {
  cursor: pointer;
  color: #272343;
  background: white;
}

.Phonetic .icon-not-available {
  color: #272343;
  font-size: 22px;
  margin: 0 52px 0 10px;
}
